<h1>FAQ Page</h1>
<ul>
<li>
<b>Q: Is there a free version?</b><br>
A: Yes, we offer 30 days in any paid plans.
</li>
<li>
<b>Q: What are your hours?</b><br>
A: We support 24/7 hours, though response time may be slower during weekends.
</li>
<li>
<b>Q: How do I contact support?</b><br>
A: Email us : godev_care@godev.com
</li>
</ul>